.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
    gap: 82px;
    background-color: var(--main-font);
}

.hero-content {
    margin-top: 6px;
    max-width: 762px;
    display: flex;
    text-align: center;
    align-items: center;
}

.search-title {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
}

.word-images {
    color: var(--images-word-color);
}


.search-wrapper {
    position: relative;
    width: 100%;
    max-width: 762px;
}

.search-history {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border-radius: 0 0 16px 16px;
    padding: 10px;
    box-shadow: var(--box-shodow-search-history);
    display: none;
    z-index: 10;
}

.search-history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-history li {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.search-history li:hover {
  background: var(--body-color);
}

.image-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--backgound-image-info);
  color: var(--white);
  padding: 8px;
  opacity: 0;
  transition: opacity 0.3s;
}

.loader {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: var(--loader-search-color);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: var(--translate);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.search-container { 
    display: flex;
    width: 100%;
    max-width: 762px;
    height: 64px;
    border-radius: 16px;
    overflow: hidden;
    background-color: var(--search-bg-color);
    border: none;
}

.search-input {
    flex: 1;
    letter-spacing: 0%;
    line-height: 100%;
    padding: 16px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    background-color: var(--search-bg-color);
    font-family: var(--search-input-font-style);
}

.search-button {
    width: 64px;
    height: 64px;
    border: none;
    background-color: var(--search-bg-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}

.magnifying-glass {
    height: 32px;
    width: 32px;
    opacity: 0.5;
}

.search-button:hover {
    opacity: 0.8;
}

main {
    padding-top: 43px;
    background-color: var(--main-font);
}


@media (max-width: 768px) {
    .hero {
        height: 137px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--main-font);
        gap: 45px;
    }

    .hero-content {
        width: auto;
    }

    .search-title {
        white-space: nowrap;
        height: 28px;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0%;
        width: 328px;
    }

    .search-wrapper {
       width: 347px;
    }
    .search-input{
        letter-spacing: 0%;
        line-height: 100%;
        color: var(--loader-search-color);
        padding: 14px;
        font-size: 16px;
    }
}